:root {
  --color-light: #181a1b;
  --background-color-light: #edecec;
  --subtext-color-light: #4e4e4e;

  --color-dark: #e3e3e3;
  --background-color-dark: #181a1b;
  --subtext-color-dark: #4e4e4e;

  --color: var(--color-light);
  --subtext-color: var(--subtext-color-light);
  --background-color: var(--background-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--color-dark);
    --subtext-color: var(--subtext-color-dark);
    --background-color: var(--background-color-dark);
  }
}
