  .container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-container);
    line-height: 20px;
    justify-content: space-around;
  }
  
  .item {
    margin-bottom: 1em;
  }