:root {
    --padding-container: 1rem 2rem;

    --color-light: #181a1b;
    --background-color-light: #edecec;

    --color-dark: #c0c0c0;
    --background-color-dark: #181a1b;

    --color: var(--color-light);
    --background-color: var(--background-color-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: var(--color-dark);
        --background-color: var(--background-color-dark);
    }
}
