.page {
  font-size: 1.5rem;
  max-width: 900px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}
.page > * {
  height: 40%;
  margin: 1rem;
  padding: 5rem;
  border: 1px solid #26336b;
  border-radius: 4px;
  color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  padding: 3rem 2rem 0 2rem;
  border: none;
  justify-content: space-around;
}
