.page {
  height: 100%;
  max-width: 900px;
  margin: auto;
  padding: 2rem 0.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.page > * {
  height: 40%;
  margin: 2rem 0;
  padding: 15px;
  background-color: var(--panel-color);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  margin: 0;
  padding: 0 2rem;
  background-color: transparent;
}
