.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content,
.content * {
  display: flex;
}

.content {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 0 auto;
}

/* keyframes */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
