.header,
.footer {
  height: 4em;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5em;
}

.footer {
  color: var(--subtext-color);
  flex-shrink: 0;
}

.group > * {
  height: 40px;
  margin: 1em 0.5em;
}
