.header,
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.footer {
  color: var(--subtext-color);
  flex-shrink: 0;
}

.group > * {
  height: 40px;
  margin: 1rem 0.5rem;
}
