* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--color);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.floatingchat-container-wrap {
  right: 25px;
}

/* text container */

.tc {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  line-height: 20px;
  justify-content: space-around;
}

/* text block */

.tb {
  margin: 1rem;
}
